@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #8843F2;
}


section{
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;
   
    justify-content: center;
    align-items: center;
}


input{
    display: block;
    position:fixed;
    margin-left: 10px;
    font-size: 24px;
    margin-top: -50px;
    width: 50%;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
    color: grey;
}

#listaArticulos{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    list-style: none;
    font-weight: 600;
   
    text-align:left;
}



.listado{

  margin-top: 60px;
}

.articulo{
    padding: 10px;
    font-size: 24px;
    border: 1px solid #b277ff;
    border-width: 10px;
    z-index: 10;
    color: #ffffff;
    width: 80%;
    margin-top: 2% ;

}


li{
    margin: 5px 0;
    
}

.filtro{
    display: none;
}

#letraA{background: #a25bff;
        width: 40%;
       }

#letraB{background: #a25bff;
        width: 40%;
       }

#letraC{background: #a25bff;
        width: 40%;
       }

#letraD{background: #a25bff;
        width: 40%;
       }

#letraE{background: #a25bff;
        width: 40%;
       }

#letraF{background: #a25bff;
        width: 40%;
       }

#letraG{background: #a25bff;
        width: 40%;
       }

#letraI{background: #a25bff;
        width: 40%;
       }

#letraL{background: #a25bff;
        width: 40%;
       }

#letraM{background: #a25bff;
        width: 40%;
       }

#letraN{background: #a25bff;
        width: 40%;
       }

#letraO{background: #a25bff;
        width: 40%;
       }
       
#letraP{background: #a25bff;
        width: 40%;
       }

#letraR{background: #a25bff;
        width: 40%;
       }

#letraS{background: #a25bff;
        width: 40%;
       }

#letraU{background: #a25bff;
        width: 40%;
       }

